@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: #303030;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
button {
  cursor: pointer;
}
main {
  background: #202020;
  width: 60vw;
  height: 500px;

  margin: 0 auto;
  padding: 50px;

  border-radius: 5px;
  box-sizing: border-box;
}

main h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

main form input,
main form select,
main form button {
  height: 30px;
  width: 150px;
  padding: 5px;
  margin-right: 15px;
  margin-bottom: 30px;

  color: #202020;
  font-family: "Poppins", sans-serif;

  border-radius: 5px;

  border: 0 none;
  outline: 0;
}
main form select {
  height: 40px;
  margin-bottom: 30px;
}
main form button {
  background: #2e86c1;
  color: #fff;
  text-transform: uppercase;
  height: 40px;
}
main div button {
  height: 40px;
  width: 160px;
  padding: 5px;
  margin-right: 15px;
  margin-bottom: 30px;

  color: #202020;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  border-radius: 5px;

  border: 0 none;
  outline: 0;
}
main div button:first-child {
  background: #595959;
  color: #fff;
}
main div button:last-child {
  background: #00cc06;
  color: #fff;
}
main p:last-child {
  text-align: center;
}

.error{
  color: #f00; 
}